/* stylelint-disable declaration-block-no-shorthand-property-overrides */
@layer base {

	*,
	*::before,
	*::after {
		scrollbar-color: oklch(from var(--clr-base-content) l c h / 64.8%) transparent;
		scrollbar-width: thin;
	}

	::-moz-selection {
		background-color: var(--clr-base-content);
		color: light-dark(var(--clr-secondary), var(--clr-base));
	}

	::selection {
		background-color: var(--clr-base-content);
		color: light-dark(var(--clr-secondary), var(--clr-base));
	}

	body {
		--bg-size: 30px;

		font-family: var(--font-zpix);
		line-height: 1.3rem;
		position: relative;
		color: oklch(from var(--clr-base-content) calc(l + 0.07) c h);
		background-color: light-dark(var(--clr-base), var(--clr-secondary));
		background: light-dark(radial-gradient(circle at 1px 1px,
					oklch(7.72% 0 299deg / 25%) 1px,
					transparent 0),
				radial-gradient(circle at 1px 1px,
					oklch(100% 0.0001 271.152deg / 25%) 1px,
					transparent 0));
		background-size: var(--bg-size) var(--bg-size);
		animation: bg-scroll 40s linear infinite;
		overflow: hidden auto;
		block-size: 100dvh;
		inline-size: 100dvw;
		padding-top: 30pt;
		transition:
			background 5000ms ease-in-out,
			color 200ms ease-in-out;
		image-rendering: optimizeQuality;
	}

	:is(h1, h2, h3) {
		font-family: var(--font-raster-forge);
		letter-spacing: 1.6px;
		line-height: 26.18px;
		font-style: normal;
		margin-bottom: 0.9rem;
		/* color: var(--clr-base-content); */
		background-image: linear-gradient(180deg,
				var(--clr-base-content) 0%,
				oklch(0.632 0.2195 29.12 / 60%) 100%);
		background-clip: text;
		color: transparent;
	}

	h1 {
		font-size: 2.5rem;
		font-weight: 800;
	}

	h2 {
		font-size: 2rem;
		font-weight: 700;
	}

	h3 {
		font-size: 1.5rem;
		font-weight: 400;
	}

	[data-theme="dark"] {
		/* --clr-base-content: oklch(78.211% 0.16941 69.512); */
		/* text-shadow: 0 0 2.5px currentColor; */
		color-scheme: dark;
	}

	[data-theme="light"] {
		color-scheme: light;
	}

	h4 {
		font-size: 1rem;
		letter-spacing: 3px;
		font-weight: 480;
		line-height: 3em;
	}

	h5 {
		font-size: 0.5rem;
		font-weight: 450;
		letter-spacing: 1px;
		font-style: italic;
		line-height: 2em;
	}

	::scroll-marker-group {
		position: absolute;
		anchor-name: --carousel;
		top: anchor(bottom);
		left: calc(anchor(left) - 10%);
		right: calc(anchor(right) - 10%);
		inline-size: 45px;

		overflow-x: auto;
		scroll-snap-type: mandatory;
		/* stylelint-disable-line declaration-property-value-no-unknown */
		overscroll-behavior-x: contain;

		display: grid;
		gap: 0.6em;
		place-content: safe center;
		justify-self: center;
		grid-auto-columns: 0.5rem;
		grid-auto-flow: column;
		margin-block: 0.5rem;
		scroll-behavior: smooth;
		scrollbar-width: none;

		padding: 5px 10px;

		/* space for focus and scroll */
		scroll-padding-inline: 10px;
		mask: linear-gradient(to right,
				transparent 0,
				black 10px,
				black calc(100% - 10px),
				transparent 100%);
	}

	mark {
		background-color: var(--clr-base-content);
		color: light-dark(var(--clr-secondary), var(--clr-base));
		padding: 2px;
	}

	del,
	s {
		text-decoration-color: light-dark(var(--clr-secondary),
				var(--clr-base));
	}

	q {
		font-style: italic;
	}

	code {
		background-color: oklch(36.32% 0 83deg);
		font-family: monospace;
		letter-spacing: 1.5px;
		color: var(--clr-base);
		padding-block: 2px;
		padding-inline: 5px;
		border-radius: 3px;
	}

	progress {
		display: inline-block;
		appearance: none;
		accent-color: var(--clr-primary);
		border: none;
		background-color: var(--clr-primary);
		color: var(--clr-base-content);
		height: 0.5rem;
		width: 20rem;
		margin-left: 1rem;

		&::-webkit-progress-bar {
			background-color: light-dark(var(--clr-primary),
					oklch(from var(--clr-secondary) calc(l + 0.12) c h));
		}

		&::-webkit-progress-value {
			background-color: var(--clr-base-content);
		}

		&::-moz-progress-bar {
			background-color: var(--clr-base-content);
		}
	}

	input {
		border: none;

		&:focus {
			border: none;
			outline: none;
		}
	}

	form[method="dialog"] {
		display: flex;
		align-items: center;
		padding-inline: 1rem;
		padding-block: 1.5rem;
		justify-content: start;
		width: 100%;
	}

	html[data-theme="light"] pumo-menu {
		--sun-display: block;
		--moon-display: none;
	}

	html[data-theme="dark"] pumo-menu {
		--sun-display: none;
		--moon-display: block;
	}
}
